.table_custom {
    /* background-color: #117a8b !important; */
    /* border-color: #10707f !important; */
    /* font-family : typeface-roboto !important */
    font-size: 18px !important;
    font-weight: bold !important;
    color:#174972 !important;
  }